.title {
    font-family: 'Courier New', Courier, monospace;
}

.square {
    background-color: orange;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 50px auto;
    transition: all 1s;
}

.square:hover {
    background-color:green;
    transform: rotate(30deg);
}


.button-div {
    text-align: center;
}
.button {
   color: white;
    background-color: greenyellow;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
}

.button:hover {
    background-color:purple;
    color: black;
    transform: scale(1.5);

}